---
import Layout from "../layouts/Layout.astro";
import { base } from "../../deploy.config.mjs";
---

<Layout title="BashRef">
    <link href={`${base}/pagefind/pagefind-ui.css`} rel="stylesheet" slot="head" />
    <script src={`${base}/pagefind/pagefind-ui.js`} slot="head"></script>
    <style slot="head" is:inline>
        #search {
            --pagefind-ui-primary: #eeeeee;
            --pagefind-ui-text: #eeeeee;
            --pagefind-ui-background: #152028;
            --pagefind-ui-border: #152028;
            --pagefind-ui-tag: #152028;
        }
        #search .pagefind-ui__search-input {
            padding: 0 2.5rem;
        }
    </style>

    <div id="search"></div>

    <script is:inline slot="head">
        window.addEventListener("DOMContentLoaded", (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
</Layout>
